@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}

// 480px以下に適用されるCSS（スマホ用
@media screen and (max-width: 480px) {

#blog_main, #status_main {
    width: 100%;
    #btop {
        #header {
            width: 100%;
            #ch_btop {
                height: max-content;
            }
            #to_top {
                text-align: center;
                #daruo_logo {
                    height: 60%;
                }
            }
        }
    }
}

svg {
    position: relative;
}

#blog_sec {
    display: none;
}

.blog_ul {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    width: 100%;
    a {

    }
    
    li {
        min-width: 80%;
        #bun {
            h3 {
                font-size: 0.8em;
            }
        }
    }
}
}