@font-face {
    font-family: "UDD";
    src: asset_url('UDDigiKyokashoNP-R.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HGN-R";
    src: asset_url('HackGen-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}