.logo_style1, .logo_style2, .logo_style3, .logo_style4 {
    fill: #444;
}

.logo_style1 {
    font-size: 58px;
    font-weight: bold;
    font-family: UDDigiKyokashoNP-B, UD Digi Kyokasho NP-B, UDD;
}

.logo_style3 {
    font-size: 22px;
    font-family: UDDigiKyokashoNP-R, UD Digi Kyokasho NP-R, UDD;
    letter-spacing: 0.03em;
}

.logo_style4 {
    font-size: 36px;
    font-weight: bold;
        font-family: UDDigiKyokashoNP-B, UD Digi Kyokasho NP-B, UDD;
}